{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dmlbtywv4/image/upload/v1679610422/job-search_mmo6mg.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />

    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'footer.css' %}" />

    <style>
        body {
            font-family: "Lato";
            font-size: 20px;
        }
    </style>

    {% block cssfiles %}{% endblock cssfiles %}
    <title>Lyhnidas Your Job Coach</title>
</head>


<body>
    {% if not rec_navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand text-light" href="{% url 'detail-candidates' %}">
            <img src="https://res.cloudinary.com/dmlbtywv4/image/upload/v1679610422/job-search_mmo6mg.png" width="40" height="40"
                class="d-inline-block align-top mr-3" alt="" /><b>Lyhnidas Your Job Coach</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link text-light {{ home_page }}" href="{% url 'home' %}">Job Search</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link text-light {{ profile_page }}" href="{% url 'my-profile' %}">My Profile</a>
                <a class="nav-item nav-link text-warning" href="{% url 'add-job' %}">Recruiters/ Employers</a>
                <a class="nav-item nav-link btn btn-info ml-4 mr-4 text-light"
                    href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link text-warning" href="{% url 'detail-recruiters' %}">Recruiters/ Employers</a>
                <a class="nav-item nav-link btn btn-success ml-4 mr-4 text-light" href="{% url 'account_login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand text-light" href="{% url 'detail-recruiters' %}">
            <img src="https://res.cloudinary.com/dmlbtywv4/image/upload/v1679610422/job-search_mmo6mg.png" width="40" height="40"
                class="d-inline-block align-top mr-3" alt="" /><b>Lyhnidas Recruiter</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link text-light {{ rec_home_page }}" href="{% url 'detail-recruiters' %}">Home</a>
                <a class="nav-item nav-link text-light {{ add_job_page }}" href="{% url 'add-job' %}">Add Job Post</a>
                <a class="nav-item nav-link text-light {{ manage_jobs_page }}" href="{% url 'job-list' %}">Manage Your Job
                    Posts</a>
                <a class="nav-item nav-link text-light {{ search_candidates_page }}" href="{% url 'search-candidates' %}">Seach
                    Candidates</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link text-warning" href="{% url 'home' %}">Job Seekers/Candidates</a>
                <a class="nav-item nav-link btn btn-info ml-4 mr-4 text-light"
                    href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
                    href="{% url 'account_login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="container">{% block content %}{% endblock content %}</main>

    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3>Lyhnidas Your Job Coach</h3>
                <p class="links">
                    <a href="{% url 'detail-candidates' %}">Job Seekers</a><strong> · </strong><a
                        href="{% url 'detail-recruiters' %}">Recruiters</a>
                </p>
                <p class="company-name">
                    Lyhnidas &copy;2023<br /><small class="text-white">All rights reserved!</small><br />
                </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div>
                    <span class="fa fa-map-marker footer-contacts-icon"></span>
                    <p>Nuremberg, Germany</p>
                </div>

                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p><a href="https://mail.google.com/" target="_blank">lyhnidas.service@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>
                    Lyhnidas Networks mission is to make hiring easier. We aim to save
                    time for both job seekers and recruiters and to make the hiring
                    process smoother. We continue to innovate and find new solutions to
                    make hiring process simpler.
                </p>
                <div class="social-links social-icons">
                    <a href="https://www.facebook.com/lyhnidas" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/lyhnidas" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/lyhnidas/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2000);
    </script>
    {% block jsfiles %}{% endblock jsfiles %}
</body>

</html>